@import '../../styles/mixins.scss';

.todo{
    max-width: 300px;
    &__lists{
        max-height: 500px;
        overflow-y: scroll; 
    }
    &__header{
        @include flexSpaceBetween()
    }
    &__header > input {
        width:190px
    }
    &__item{
        @include flexSpaceBetween();
        word-break: break-all;
        margin-top: 10px;
        cursor: pointer;    
    }
    &__group-buttons{
        margin-top: 10px;
    }
    &__group-buttons > button{
        width: 300px;
    }
    &__group-buttons > button:nth-child(2) {
        margin-top: 10px;
    }
    &__group-icons{
        @include flexSpaceBetween();
    }  
    &__group-icons > img{
        margin: 0px 10px;
    }         
    };
