@import '../../../styles/mixins.scss';

.modalConfirm{
    @include centerPosition();
    min-height: 200px;
    min-width: 400px;
    background: rgba(129, 119, 119, 0.308);
    border-radius: 3px;
    border: 1px solid black;
    padding: 40px;
    &__buttons{
        display: flex;
        justify-content: space-around;
    }   
};