.ContentBox {
    position: absolute;
    max-height: 90%;
    height: 70%;
    max-width: 90%;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 1.187rem 1.875rem 2.062rem 1.875rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  };

  .background {
    background-size:auto;
    background-color: #575674;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }