@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.modalEditTask{
    @include centerPosition();
    min-height: 250px;
    min-width: 400px;
    background: $backgroundColorEdit;
    border-radius: 3px;
    border: 1px solid black;
    padding: 40px;
    &__header > input {
        width:100%
    }
    &__buttons{
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
    }   
};