@import '../../styles/mixins.scss';

.category{
    width:400px;
    &__header{
        @include flexSpaceBetween();
    }
    &__header > input {
        width:290px
    }
    &__list{
        max-height: 600px;
        overflow-y: scroll;
    } 
    &__list-element{
        margin-top: 10px;     
        cursor: pointer;
    }  
    &__content{
        @include flexSpaceBetween();
    }
    &__group > input{
        height: 20px;
        width:20px;
    }
    &__group{
        width: 100px;
        @include flexSpaceBetween();
    }    
};
